doctype
html(lang="ko")
    head
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{pageTitle} | Music Graph
    body 
        include components/navLeft.pug
        include components/navTop.pug
        include components/navBottom.pug
        
        block content