@import "_root.css";

#footer {
    height: var(--footer-height-);

    border-top: var(--border-one-side-);
    filter: var(--filter-);
}
.footer-sizer {
    width: var(--sizer-width-);
    height: var(--footer-height-);

    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    .footer-sizer {
        width: 100%;
        padding: var(--sizer-padding-);
    }
}