@import "_root.css";

#nav {
    position: fixed;
    top:0;

    width: 100%;
    height: var(--nav-height-);

    border-bottom: var(--border-one-side-);
    filter: var(--filter-);
}
.nav-sizer {
    width: var(--sizer-width-);
    height: 70px;
    margin: 0 auto;

    transition: all 0.2s linear;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_column {
    min-width: 100px;
    width: auto;
    height: 50px;

    gap: 10px;
    display: flex;
    align-items: center;
}
.nav_column:nth-child(1) {
    justify-content: flex-start;
}
.nav_column:nth-child(2) {
    justify-content: center;
}
.nav_column:nth-child(3) {
    justify-content: flex-end;
}
@media screen and (max-width: 1200px) {
    .nav-sizer {
        width: 100%;
        padding: var(--sizer-padding-);
    }
}