@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

@import "./components/nav_left.css";
@import "./components/nav_top.css";
@import "./components/nav_bottom.css";

@import "./_root.css";

* {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
}
body {
    font-family: 'Noto Sans KR', sans-serif;

    -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none
}
h1,h2,h3,h4,p {
    font-weight: 200;
    letter-spacing: 0.1em;
}