nav#nav_left
    h1 MUSIC GRAPH
    h4 select your option
    
    section.nav_section
        header
            h2 YOUTUBE CHART
        ul
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 Global
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 USA

    section.nav_section
        header
            h2 SPOTIFY CHART
        ul
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 Global
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 USA
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 UK
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 JAPAN

    section.nav_section
        header
            h2 RADIO CHART
        ul
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 Daily
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 Weekly
            li
                img(src="/assets/img/nav_button_svg.png")
                h3 Montly
    
    footer
        p node, express,axios, d3, mongoDB
        p designed by 
            a(href="https://github.com/unchaptered/22-01-express-server") unchaptered git
        p developed by
            a(href="https://velog.io/@unchapterd")  unchaptered velog