nav#nav_side
    div.nav-sizer
        div.nav-flex
            header.nav_header
                h1 Music Charts
            
            section.nav_linkers
                a(href="/ranking/melon/daily") Melon Daily Top 100
                a(href="/ranking/melon/weekly") Melon Weekly Top 100
                a(href="/ranking/melon/monthly") Melon Monthly Top 100
                a(href="/ranking/bugs/daily") Bugs Daily Top 100
                a(href="/ranking/bugs/weekly") Bugs Weekly Top 100

