nav#nav
    div.nav-sizer
        div.nav_column
            a(href="./").nav_linker back
        div.nav_column
            a(href="./").nav_linker MUSIC GRAPH
        div.nav_column
            a(href="./user/login").nav_linker login
            a(href="./user/join").nav_linker join